<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add new book</title>
</head>
<body>
    <h1>New Book</h1>
    <a th:href="@{/books}">Back to list</a>
    <form th:action="@{/books}" method="post" th:object="${book}">
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}" th:errorclass="is-invalid">
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>

        <div>
            <label>Author</label>
            <select th:field="*{author}" th:errorclass="is-invalid">
                <option th:each="author: ${allAuthors}" th:value="${author.id}"
                        th:text="${author.name}">
                    Author
                </option>
            </select>
            <div th:if="${#fields.hasErrors('author')}" th:errors="*{author}">
            </div>
        </div>

        <div>
            <label>Section</label>
            <select th:field="*{section}" th:errorclass="is-invalid">
                <option th:each="section: ${allSections}" th:value="${section.id}"
                        th:text="${section.name}">
                    Section
                </option>
            </select>
            <div th:if="${#fields.hasErrors('section')}" th:errors="*{section}">
            </div>
        </div>

        <div>
            <label>Language</label>
            <select th:field="*{language}" th:errorclass="is-invalid">
                <option th:each="language : ${T(kz.kaspi.kaspiproject.entities.Books.Language).values()}"
                        th:value="${language}" th:text="${language.name}"></option>
            </select>
            <div th:if="${#fields.hasErrors('language')}" th:errors="*{language}">
            </div>
        </div>

        <div>
            <label>Price</label>
            <input type="number" th:field="*{price}" th:errorclass="is-invalid">
            <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
        </div>
        <input type="submit" value="Save">
    </form>
</body>
</html>