<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Book</title>
    <link rel="stylesheet" href="../css/form.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <h1>Update Book</h1>
  <div id="home">
    <a th:href="@{/books}">Back to list</a>
  </div>
  <form th:action="@{/books/update}" method="get" th:object="${book}" id="update">
      <input type="hidden" th:field="*{id}">
      <div class="form-group">
          <label>Name</label>
          <input type="text" th:field="*{name}" th:errorclass="is-invalid">
          <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
      </div>

      <div class="form-group">
          <label>Author</label>
          <select th:field="*{author}" th:errorclass="is-invalid">
              <option th:each="author: ${allAuthors}" th:value="${author.id}"
                      th:text="${author.name}">
                  Author
              </option>
          </select>
          <div class="error" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">
          </div>
      </div>

      <div class="form-group">
          <label>Section</label>
          <select th:field="*{section}" th:errorclass="is-invalid">
              <option th:each="section: ${allSections}" th:value="${section.id}"
                      th:text="${section.name}">
                  Section
              </option>
          </select>
          <div class="error" th:if="${#fields.hasErrors('section')}" th:errors="*{section}">
          </div>
      </div>

      <div class="form-group">
          <label>Description </label>
          <textarea th:field="*{description}" th:errorclass="is-invalid" rows="4" cols="50"></textarea>
          <div class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
      </div>

      <div class="form-group">
          <label>Language</label>
          <select th:field="*{language}" th:errorclass="is-invalid">
              <option th:each="language : ${T(kz.kaspi.kaspiproject.entities.Books.Language).values()}"
                      th:value="${language}" th:text="${language.name}"></option>
          </select>
          <div class="error" th:if="${#fields.hasErrors('language')}" th:errors="*{language}">
          </div>
      </div>

      <div class="form-group">
          <label>Price</label>
          <input type="number" th:field="*{price}" th:errorclass="is-invalid" required>
          <div class="error" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
      </div>

      <div class="form-group">
          <label>Quantity</label>
          <input type="number" th:field="*{quantity}" th:errorclass="is-invalid" required>
          <div class="error" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></div>
      </div>
      <button type="submit" class="btn btn-default">Save</button>
  </form>
</body>
</html>