<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>User Login</h1>
    <a th:href="@{/}">Back to home page</a>
    <form th:action="@{/login}" method="post">
        <p th:if="${param.error}">
            Bad Credentials
        </p>
        <div>
            <label>Username: </label>
            <input type="text" name="username" placeholder="username" id="username" required>
        </div>

        <div>
            <label>Password: </label>
            <input type="password" name="password" id="password" required>
        </div>

<!--        <input name="_csrf" type="hidden" value="_csrf.token">-->
<!--        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->

<!--        <input type="submit" value="Log In">-->
        <button type="submit">Log In</button>
    </form>
</body>
</html>