<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="header">
        <a sec:authorize="hasAuthority('admin')" th:href="@{/authors}">Authors list</a>
        <a sec:authorize="hasAuthority('admin')" th:href="@{/sections}">Sections list</a>
        <a sec:authorize="hasAuthority('admin')" th:href="@{/books}">Books list</a>
        <a sec:authorize="!hasAuthority('admin')" th:href="@{/books}">Main page</a>
        <a sec:authorize="hasAuthority('user')" th:href="@{/basket}">Basket</a>
        <a sec:authorize="hasAuthority('user')" th:href="@{/orders}">Orders</a>
    </div>
    <div class="main" sec:authorize="!isAuthenticated()">
        <h1>Welcome to our online book store.</h1>
        <h1><a th:href="@{/signup/login}">Login</a></h1>
        <h1><a th:href="@{/signup}">Register</a></h1>
    </div>
    <div class="main" sec:authorize="isAuthenticated()">
        <h1>Welcome back, <span sec:authentication="name"></span>.</h1>
        <form th:action="@{/logout}" method="POST">
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-log-out"></span> Logout</button>
        </form>
    </div>
</body>
</html>