<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
    <a th:href="@{/authors}">Authors list</a>
    <a th:href="@{/sections}">Sections list</a>
    <a th:href="@{/books}">Books list</a>
    <div sec:authorize="!isAuthenticated()">
        <h1><a th:href="@{/signup/login}">Login</a></h1>
        <h1><a th:href="@{/signup}">Register</a></h1>
    </div>
    <div sec:authorize="isAuthenticated()">
        <h1>Welcome, <span sec:authentication="name"></span></h1>
        <div sec:authorize="hasAuthority('admin')">Has Authority ADMIN</div>
        <div sec:authorize="hasAuthority('user')">Has Authority USER</div>
        <form th:action="@{/logout}" method="POST">
            <input type="submit" value="Logout"/>
        </form>
    </div>
</body>
</html>