<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Sections</title>
    <link rel="stylesheet" href="../css/sections/list.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="links">
        <a th:href="@{/}">Main page</a>
        <a th:href="@{/sections/new}" sec:authorize="hasAuthority('admin')">Add new section</a>
    </div>
    <h1>All sections</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="section: ${sections}">
                <td th:text="${section.id}">1</td>
                <td th:text="${section.name}">Bob</td>
                <td sec:authorize="hasAuthority('admin')"><a th:href="@{/sections/{id}(id=${section.id})}">Update</a></td>
                <td sec:authorize="hasAuthority('admin')"><a th:href="@{/sections/delete(id=${section.id})}">Delete</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>