<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Sections</title>
    <link rel="stylesheet" href="../css/sections/list.css">
</head>
<body>
    <h1>All sections</h1>
    <a th:href="@{/}">Main page</a>
    <a th:href="@{/sections/new}" sec:authorize="hasAuthority('admin')">Add new section</a>
    <table>
        <tr>
            <td>ID</td>
            <td>Name</td>
        </tr>
        <tr th:each="section: ${sections}">
            <td th:text="${section.id}">1</td>
            <td th:text="${section.name}">Bob</td>
            <td sec:authorize="hasAuthority('admin')"><a th:href="@{/sections/{id}(id=${section.id})}">Update</a></td>
            <td sec:authorize="hasAuthority('admin')"><a th:href="@{/sections/delete/{id}(id=${section.id})}">Delete</a></td>
        </tr>
    </table>
</body>
</html>