<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Section</title>
</head>
<body>
  <h1>Update Section</h1>
  <a th:href="@{/sections}">Back to list</a>
  <form th:action="@{/sections/update}" method="get" th:object="${section}">
      <input type="hidden" th:field="*{id}">
      <div>
          <label>Name</label>
          <input type="text" th:field="*{name}" th:errorclass="is-invalid">
          <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
      </div>
      <input type="submit" value="Save">
  </form>
</body>
</html>